<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/animation.css" rel="stylesheet" type="text/css">
    <link href="css/common.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/font/font.css">
  </head>
  <body>
    <div id="wrap" class="wrapper top animated" style="opacity:0;">
      <header style="opacity:0;">
        <h1 style="position:absolute; font-size:small; color:#1e5772; top:5px; left:5px;">Skunk Entertainment</h1>
      </header>

      <div id="section_wrap">
        <section style="width:100%; height:100vh; position:relative; z-index:500; overflow-x:hidden;">
        <div style="height:100%; display:flex;" v-bind:class="{slideRight:type==='about', slideLeft:back}">
          <div style="flex:0 0 100%;">
            <div class="bg_icon" style="-webkit-mask-position:no-repeat; mask-position:50%; -webkit-mask-repeat:50%; mask-repeat:no-repeat;" v-on:click='type="default", menu_select=false'></div>
            <div style="position:relative; width:100%; height:30%;">
              <div id="type_default" v-if="!menu_select">
                <ul style="font-size:2vw; position:absolute; top:30%; left:0; list-style-type:none; width:100%; display:flex; justify-content: space-around; ">
                  <li style="display:inline-block; width:30%; position:relative;">
                    <div class="animated fadeIn option_wrap option_left" v-on:click='typeChange("about"), back=false'>
                      <div class="option_char">
                        about
                      </div>
                      <div class="rotate circle">
                      </div>
                      <div class="rotate2 circle">
                      </div>
                      <div class="rotate3 circle">
                      </div>
                    </div>
                  </li>
                  <li style="display:inline-block; width:30%; position:relative;">
                    <div class="animated fadeIn option_wrap option_right" v-on:click='typeChange("work")'>
                      <div class="option_char">
                        Work
                      </div>
                      <div class="rotate circle">
                      </div>
                      <div class="rotate2 circle">
                      </div>
                      <div class="rotate3 circle">
                      </div>
                    </div>
                  </li>
                  <li style="display:inline-block; width:30%; position:relative; display:none;">
                    <div class="animated fadeIn option_wrap option_right" v-on:click='typeChange("service")'>
                      <div class="option_char">
                        Service
                      </div>
                      <div class="rotate circle">
                      </div>
                      <div class="rotate2 circle">
                      </div>
                      <div class="rotate3 circle">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div id="type_work" v-if="type === 'work' && menu_select">
                <ul style="font-size:2vw; position:absolute; top:30%; left:0; list-style-type:none; width:100%; display:flex; justify-content: space-around; ">
                  <li style="display:inline-block; width:30%; position:relative;">
                    <div class="animated fadeIn option_wrap option_left" v-on:click='modalOpen("webviewapp")'>
                      <div class="option_char">
                        WebView<br>App
                      </div>
                      <div class="rotate circle">
                      </div>
                      <div class="rotate2 circle">
                      </div>
                      <div class="rotate3 circle">
                      </div>
                    </div>
                  </li>
                  <li style="display:inline-block; width:30%; position:relative;">
                    <div class="animated fadeIn option_wrap option_right" v-on:click='modalOpen("design")'>
                      <div class="option_char">
                        Design
                      </div>
                      <div class="rotate circle">
                      </div>
                      <div class="rotate2 circle">
                      </div>
                      <div class="rotate3 circle">
                      </div>
                    </div>
                  </li>
                  <li style="display:inline-block; width:30%; position:relative; display:none;">
                    <div class="animated fadeIn option_wrap option_right" v-on:click='modalOpen("unity")'>
                      <div class="option_char">
                        Unity
                      </div>
                      <div class="rotate circle">
                      </div>
                      <div class="rotate2 circle">
                      </div>
                      <div class="rotate3 circle">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div id="type_service" v-else-if="type === 'service' && menu_select">
                <ul style="font-size:2vw; position:absolute; top:30%; left:0; list-style-type:none; width:100%; display:flex; justify-content: space-around; ">
                  <li style="display:inline-block; width:30%; position:relative;">
                    <div class="animated fadeIn option_wrap option_left" v-on:click='modalOpen("LineStamp")'>
                      <div class="option_char">
                        LineStamp
                      </div>
                      <div class="rotate circle">
                      </div>
                      <div class="rotate2 circle">
                      </div>
                      <div class="rotate3 circle">
                      </div>
                    </div>
                  </li>
                  <li style="display:inline-block; width:30%; position:relative;">
                    <div class="animated fadeIn option_wrap option_center" v-on:click='modalOpen("StampPaste")'>
                      <div class="option_char">
                        StampPaste
                      </div>
                      <div class="rotate circle">
                      </div>
                      <div class="rotate2 circle">
                      </div>
                      <div class="rotate3 circle">
                      </div>
                    </div>
                  </li>
                  <li style="display:inline-block; width:30%; position:relative;">
                    <div class="animated fadeIn option_wrap option_right" v-on:click='modalOpen("Game")'>
                      <div class="option_char">
                        Game
                      </div>
                      <div class="rotate circle">
                      </div>
                      <div class="rotate2 circle">
                      </div>
                      <div class="rotate3 circle">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div style="flex:0 0 100%; vertical-align:middle; width:100%; height:100%; font-size: large; position:relative;">
            <div style="position:absolute; top:46%;left:50%; transform:translate(-50%, -50%); width:90%;">
              <div style="text-align:center; padding:5%; line-height:1.3;">
                <h2 style="font-size:large;">
                   人物
                </h2>
                <div style="font-size:medium; margin-bottom:3%;">
                  名称：すかんく<br>
                  所在地：千葉県内
                </div>
                <h2 style="font-size:large;">
                   趣味
                </h2>
                <div style="font-size:medium; margin-bottom:3%;">
                  釣り<br>
                  囲碁<br>
                  将棋<br>
                  かき氷<span style="font-size:small;">(食べる)</span><br>
                  カレー<span style="font-size:small;">(食べる/作る)</span>
                </div>
                <h2 style="font-size:large;">
                   スキル
                </h2>
                <div style="font-size:medium;">
                  HTML + CSS：★★★★☆<br>
                  JavaScript：★★★★☆<br>
                  jQuery：★★★★☆<br>
                  Photoshop：★★★★☆<br>
                  Illustrator：★★★★☆<br>
                  AfterEffects：★★★☆☆<br>
                  PremirePro：★★★☆☆<br>
                  Unity：★★☆☆☆<br>
                  PHP：★★☆☆☆<br>
                  MySQL：★☆☆☆☆
                </div>
              </div>
              <div style="width:100%; text-align:center;" v-on:click="typeChange('default'),back=true">BACK</div>
            </div>
          </div>
        </div>

        <div style="position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.8); z-index:100;" v-show="show_modal_bg" v-on:click="modalClose">
        </div>
      </section>
      <section>


      </section>
    </div>

    <footer class="footer">
      <div class="copyright" style="position:fixed; bottom: 10px; left: 0; right:0; text-align:center; font-size:small; margin:15px auto 5px; color:darkgrey;">
        2019 Skunk Entertainment
      </div>
    </footer>

    <div id="modal" style="position:relative; z-index:1000;">
      <div id="modal_wrap" class="animated fadeIn" v-show="modal_show" v-bind:class="{fadeOut:hidden}">
        <div style="position:fixed; top:50%; left:50%; overflow-y: scroll; z-index: 1000; transform:translate(-50% ,-50%); min-width: 160px; width:90%; height:90%;">

          <div v-if="content_type==='webviewapp'">
            <div v-for="value in webviewapp_items">
              <div class="content_wrap" v-bind:class="{content_even_number:value.is_even_number}">
                <div class="content_title">{{ value.title }}</div>
                <div class="content_detail">

                  <div v-for="img in value.img">
                    <div  class="content_img">
                        <img :src="img" width="100%" height="auto" style="vertical-align:bottom; position:relative;">
                    </div>
                  </div>
                  <div class="content_description">
                    <div class="content_description_box">
                      <div style="padding:0 10px 10px 10px">
                        <div class="content_description_subtitle">概要</div>
                        {{ value.description }}
                        <div class="content_description_subtitle">担当業務</div>
                        {{ value.responsible }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div v-else-if="content_type==='design'">
            <div v-for="value in design_items">
              <div class="content_wrap" v-bind:class="{content_even_number:value.is_even_number}">
                <div class="content_title">{{ value.title }}</div>
                <div class="content_detail">

                  <div v-for="img in value.img" style="padding:10px 0;">
                    <div  class="content_img">
                        <img :src="img" width="100%" height="auto" style="vertical-align:bottom; position:relative;">
                    </div>
                  </div>
                  <div class="content_description">
                    <div class="content_description_box">
                      <div style="padding:0 10px 10px 10px">
                        <div class="content_description_subtitle">概要</div>
                        {{ value.description }}
                        <div class="content_description_subtitle">担当業務</div>
                        {{ value.responsible }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

   <script src="js/vue.js"></script>
   <script src="https://unpkg.com/vue-router@3.0.1"></script>

   <script>
     //import Vue from 'vue';
     Vue.config.devtools = true;
     // 全体エレメントを取得
     var wrap_el = document.getElementById("wrap");
     // 全体エレメントを取得
     var wrap_el = document.getElementById("wrap");
     window.onload = function() {
       wrap_el.classList.add("fadeIn");
       var section_wrap = new Vue({
         el:"#section_wrap",
         data:{
           ready: true,
           type: 'default',
           menu_select:false,
           show_modal_bg:false,
           back:false,
         },
         methods:{
           typeChange:function(_type){
             if(_type == 'default'){
               this.menu_select = false;
             } else {
               this.menu_select = true;
             }
             this.type = _type;
           },
           modalOpen:function(_contents_type){
             this.show_modal_bg = true;
             modal.show_modal(_contents_type);
           },
           modalClose:function(){
             this.show_modal_bg = false;
             modal.close_modal();
           }
         }
       });
       var modal = new Vue({
         el:"#modal",
         data:{
           modal_show:false,
           hidden:false,
           img:null,
           content_type: "default",
           webviewapp_items: {
             0:{
               is_first_content:true,
               is_even_number:true,
               title:"10周年企画",
               responsible:"デザイン/HTML+CSSコーディング/jQueryプログラム/動画編集",
               description:"WebViewアプリゲーム10周年記念の企画ページです。",
               img:{
                 img1:"https://skunk-hrk.github.io/image/webviewapp/10th/top.png",
                 img2:"https://skunk-hrk.github.io/image/webviewapp/10th/content1.png",
                 img3:"https://skunk-hrk.github.io/image/webviewapp/10th/content2.png"
               }
             },
             1:{
               is_first_content:false,
               is_even_number:false,
               title:"バトルロワイヤル",
               responsible:"デザイン/HTML+CSSレイアウト/jQuery+CSS3アニメーション",
               description:"WebViewアプリゲーム内で初のPvP型コンテンツです。",
               img:{
                 img1:"https://skunk-hrk.github.io/image/webviewapp/tkgr/battleroyal/top.png",
                 img2:"https://skunk-hrk.github.io/image/webviewapp/tkgr/battleroyal/battle.png",
                 img3:"https://skunk-hrk.github.io/image/webviewapp/tkgr/battleroyal/organization.png"
               }
             },
             2:{
               is_first_content:false,
               is_even_number:true,
               title:"研究所ページ",
               responsible:"デザイン/HTML+CSSレイアウト/jQuery+CSS3アニメーション",
               description:"既存コンテンツがフィーチャーフォンサイトだったので、スマートフォンにも対応できるようにリニューアルを行いました。",
               img:{
                 img1:"https://skunk-hrk.github.io/image/webviewapp/tkgr/laboratory/top.png",
                 img2:"https://skunk-hrk.github.io/image/webviewapp/tkgr/laboratory/detail.png",
                 img3:"https://skunk-hrk.github.io/image/webviewapp/tkgr/laboratory/get.png"
               }
             }
           },
           design_items: {
             0:{
               is_first_content:true,
               is_even_number:true,
               title:"文字アイテム",
               responsible:"デザイン/追加制作時の業務フロー確立",
               description:"WebViewアプリゲーム内の箱庭的コンテンツの設置アイテムになります。サイズや表示位置など制限がある中で作成しました。また追加で作成する事が想定されていましたので、psdファイル内のレイヤーを可能な限り分かりやすい構造にしました。",
               img:{
                 img1:"https://skunk-hrk.github.io/image/webviewapp/town/character_items/5_1.png",
                 img2:"https://skunk-hrk.github.io/image/webviewapp/town/character_items/5_2.png",
                 img3:"https://skunk-hrk.github.io/image/webviewapp/town/character_items/5_3.png",
                 img4:"https://skunk-hrk.github.io/image/webviewapp/town/character_items/5_4.png",
                 img5:"https://skunk-hrk.github.io/image/webviewapp/town/character_items/5_5.png",
                 img6:"https://skunk-hrk.github.io/image/webviewapp/town/character_items/5_92.png"
               }
             },
             1:{
               is_first_content:false,
               is_even_number:false,
               title:"バナー",
               responsible:"デザイン",
               description:"WebViewアプリゲーム内で使用したバナーです。各イベントのイメージに沿った画像の作成を行いました。詳細のラフがある場合は1時間前後で作成しています。タイトルのみ伝えられた場合でも、そのイメージから作成することが可能です。イベントロゴについてはなるべくIllustratorで作成し拡縮できるようにしました。",
               img:{
                 img1:"https://skunk-hrk.github.io/image/webviewapp/banner/lottery_63_smartphone.png",
                 img2:"https://skunk-hrk.github.io/image/webviewapp/banner/lottery_64_smartphone.png",
                 img3:"https://skunk-hrk.github.io/image/webviewapp/banner/lottery_65_smartphone.png",
                 img4:"https://skunk-hrk.github.io/image/webviewapp/banner/baner_baby40.png",
                 img5:"https://skunk-hrk.github.io/image/webviewapp/banner/valentine_baby.png",
                 img6:"https://skunk-hrk.github.io/image/webviewapp/banner/banner46.png",
                 img7:"https://skunk-hrk.github.io/image/webviewapp/banner/banner47.png",
                 img8:"https://skunk-hrk.github.io/image/webviewapp/banner/banner49.png",
                 img9:"https://skunk-hrk.github.io/image/webviewapp/banner/banner50.png",
               }
             },
             2:{
               is_first_content:false,
               is_even_number:true,
               title:"スタンドバナー",
               responsible:"デザイン/提案/発注",
               description:"友人の結婚式のウェウカムスペースに飾るスタンドバナーの作成を行っています。印刷物は完全データで納品し印刷のみ業者に対応してもらっています。",
               img:{
                 img1:"https://skunk-hrk.github.io/image/common/coming_soon.png",
                 img2:"https://skunk-hrk.github.io/image/common/coming_soon.png",
                 img3:"https://skunk-hrk.github.io/image/common/coming_soon.png"
               }
             }
           }
         },
         methods:{
           change_img : function(_img){
             this.img = _img;
           },
           show_modal : function(content_type){
             this.content_type = content_type;
             this.modal_show = true;
             this.hidden = false;
           },
           close_modal: function(){
             this.hidden = true;
             this.modal_show = false;
           }
         }
       });
    }
   </script>
  </body>
</html>
