<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/animation.css" rel="stylesheet" type="text/css">
    <link href="css/common.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css">
  </head>
  <body>
    <div id="wrap" class="wrapper top animated" style="opacity:0;">
      <header style="opacity:0;">
        <h1 style="position:absolute; font-size:small; color:#1e5772; top:5px; left:5px;">Skunk Entertainment</h1>
      </header>

      <div id="section_wrap">
        <section style="width:100%; height:100vh; position:relative; z-index:500;">
        <div class="bg_icon" style="width:60%; height:70%; margin:auto; background-color: rgba(0,0,0,0.6); -webkit-mask-image: url('https://skunk-hrk.github.io/image/icon_skunk.svg'); mask-image: url('https://skunk-hrk.github.io/image/icon_skunk.svg'); -webkit-mask-size: 80% 80%; mask-size: 80% 80%; -webkit-mask-position:no-repeat; mask-position:50%; -webkit-mask-repeat:50%; mask-repeat:no-repeat;" v-on:click='type="default", menu_select=false'></div>
        <div style="position:relative; width:100%; height:30%;">
          <div id="type_default" v-if="!menu_select">
            <ul style="font-size:2vw; position:absolute; top:30%; left:0; list-style-type:none; width:100%; display:flex; justify-content: space-around; ">
              <li style="display:inline-block; width:30%; position:relative;">
                <div class="animated fadeIn option_wrap option_left" v-on:click='typeChange("about")'>
                  <div class="option_char">
                    about
                  </div>
                  <div class="rotate circle">
                  </div>
                  <div class="rotate2 circle">
                  </div>
                  <div class="rotate3 circle">
                  </div>
                </div>
              </li>
              <li style="display:inline-block; width:30%; position:relative;">
                <div class="animated fadeIn option_wrap option_center" v-on:click='typeChange("work")'>
                  <div class="option_char">
                    Work
                  </div>
                  <div class="rotate circle">
                  </div>
                  <div class="rotate2 circle">
                  </div>
                  <div class="rotate3 circle">
                  </div>
                </div>
              </li>
              <li style="display:inline-block; width:30%; position:relative;">
                <div class="animated fadeIn option_wrap option_right" v-on:click='typeChange("service")'>
                  <div class="option_char">
                    Service
                  </div>
                  <div class="rotate circle">
                  </div>
                  <div class="rotate2 circle">
                  </div>
                  <div class="rotate3 circle">
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div id="type_work" v-if="type === 'work' && menu_select">
            <ul style="font-size:2vw; position:absolute; top:30%; left:0; list-style-type:none; width:100%; display:flex; justify-content: space-around; ">
              <li style="display:inline-block; width:30%; position:relative;">
                <div class="animated fadeIn option_wrap option_left" v-on:click='modalOpen("webviewapp")'>
                  <div class="option_char">
                    WebView<br>App
                  </div>
                  <div class="rotate circle">
                  </div>
                  <div class="rotate2 circle">
                  </div>
                  <div class="rotate3 circle">
                  </div>
                </div>
              </li>
              <li style="display:inline-block; width:30%; position:relative;">
                <div class="animated fadeIn option_wrap option_center" v-on:click='modalOpen("design")'>
                  <div class="option_char">
                    Design
                  </div>
                  <div class="rotate circle">
                  </div>
                  <div class="rotate2 circle">
                  </div>
                  <div class="rotate3 circle">
                  </div>
                </div>
              </li>
              <li style="display:inline-block; width:30%; position:relative;">
                <div class="animated fadeIn option_wrap option_right" v-on:click='modalOpen("unity")'>
                  <div class="option_char">
                    Unity
                  </div>
                  <div class="rotate circle">
                  </div>
                  <div class="rotate2 circle">
                  </div>
                  <div class="rotate3 circle">
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div id="type_service" v-else-if="type === 'service' && menu_select">
            <ul style="font-size:2vw; position:absolute; top:30%; left:0; list-style-type:none; width:100%; display:flex; justify-content: space-around; ">
              <li style="display:inline-block; width:30%; position:relative;">
                <div class="animated fadeIn option_wrap option_left" v-on:click='modalOpen("LineStamp")'>
                  <div class="option_char">
                    LineStamp
                  </div>
                  <div class="rotate circle">
                  </div>
                  <div class="rotate2 circle">
                  </div>
                  <div class="rotate3 circle">
                  </div>
                </div>
              </li>
              <li style="display:inline-block; width:30%; position:relative;">
                <div class="animated fadeIn option_wrap option_center" v-on:click='modalOpen("StampPaste")'>
                  <div class="option_char">
                    StampPaste
                  </div>
                  <div class="rotate circle">
                  </div>
                  <div class="rotate2 circle">
                  </div>
                  <div class="rotate3 circle">
                  </div>
                </div>
              </li>
              <li style="display:inline-block; width:30%; position:relative;">
                <div class="animated fadeIn option_wrap option_right" v-on:click='modalOpen("Game")'>
                  <div class="option_char">
                    Game
                  </div>
                  <div class="rotate circle">
                  </div>
                  <div class="rotate2 circle">
                  </div>
                  <div class="rotate3 circle">
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div style="position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.8); z-index:100;" v-show="show_modal_bg" v-on:click="modalClose">
        </div>
      </section>
    </div>

    <footer class="footer">
      <div class="copyright" style="position:fixed; bottom: 10px; left: 0; right:0; text-align:center; font-size:small; margin:15px auto 5px; color:darkgrey;">
        2019 Skunk Entertainment
      </div>
    </footer>

    <div id="modal" style="position:relative; z-index:1000;">
      <div id="modal_wrap" class="animated fadeIn" v-show="modal_show" v-bind:class="{fadeOut:hidden}">
        <div style="position:fixed; top:50%; left:50%; overflow-y: scroll; z-index: 1000; transform:translate(-50% ,-50%); min-width: 160px; width:90%; height:90%;">
          <div v-for="value in items">
            <div class="content_wrap" v-bind:class="{content_even_number:value.is_even_number}">
              <div class="content_title">{{ value.title }}</div>
              <div class="content_detail">

                <div v-for="img in value.img">
                  <div  class="content_img">
                      <img :src="img" width="100%" height="auto" style="vertical-align:bottom; position:relative;">
                  </div>
                </div>
                <div class="content_description">
                  <div class="content_description_box">
                    <div class="content_description_title">{{ value.title }}</div>
                    <div style="padding: 10px;">
                      {{ value.description }}
                      <div class="content_description_subtitle">担当業務</div>
                      {{ value.responsible }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   <script src="js/vue.js"></script>
   <script src="https://unpkg.com/vue-router@3.0.1"></script>

   <script>
     //import Vue from 'vue';
     Vue.config.devtools = true;
     // 全体エレメントを取得
     var wrap_el = document.getElementById("wrap");

     // 全体エレメントを取得
     var wrap_el = document.getElementById("wrap");

     window.onload = function() {
       wrap_el.classList.add("fadeIn");
       var section_wrap = new Vue({
         el:"#section_wrap",
         data:{
           ready: true,
           type: 'default',
           menu_select:false,
           show_modal_bg:false,
         },
         methods:{
           typeChange:function(_type){
             this.menu_select = true;
             this.type = _type;
           },
           modalOpen:function(_contents_type){
             console.log("modalOpen")
             this.show_modal_bg = true;
             modal.show_modal(_contents_type);
           },
           modalClose:function(){
             this.show_modal_bg = false;
             console.log("modalClose");
           }
         }
       });

       var modal = new Vue({
         el:"#modal",
         data:{
           modal_show:false,
           hidden:false,
           img:null,
           items: {
             0:{
               is_first_content:true,
               is_even_number:true,
               title:"10周年企画",
               responsible:"デザイン/HTML+CSSコーディング/jQueryプログラム/動画編集",
               description:"WebViewアプリゲーム10周年記念の企画ページです。",
               img:{
                 img1:"https://skunk-hrk.github.io/image/webviewapp/10th/top.png",
                 img2:"https://skunk-hrk.github.io/image/webviewapp/10th/content1.png",
                 img3:"https://skunk-hrk.github.io/image/webviewapp/10th/content2.png"
               }
             },
             1:{
               is_first_content:false,
               is_even_number:false,
               title:"バトルロワイヤル",
               responsible:"デザイン/HTML+CSSレイアウト/jQuery+CSS3アニメーション",
               description:"WebViewアプリゲーム内で初のPvP型コンテンツです。",
               img:{
                 img1:"https://skunk-hrk.github.io/image/webviewapp/tkgr/battleroyal/top.png",
                 img2:"https://skunk-hrk.github.io/image/webviewapp/tkgr/battleroyal/battle.png",
                 img3:"https://skunk-hrk.github.io/image/webviewapp/tkgr/battleroyal/organization.png"
               }
             },
             2:{
               is_first_content:false,
               is_even_number:true,
               title:"研究所ページ",
               responsible:"デザイン/HTML+CSSレイアウト/jQuery+CSS3アニメーション",
               description:"既存コンテンツがフィーチャーフォンサイトだったので、スマートフォンにも対応できるようにリニューアルを行いました。",
               img:{
                 img1:"https://skunk-hrk.github.io/image/webviewapp/tkgr/laboratory/top.png",
                 img2:"https://skunk-hrk.github.io/image/webviewapp/tkgr/laboratory/detail.png",
                 img3:"https://skunk-hrk.github.io/image/webviewapp/tkgr/laboratory/get.png"
               }
             }
           }
         },
         methods:{
           change_img : function(_img){
             this.img = _img;
           },
           show_modal : function(){
             this.modal_show = true;
             this.hidden = false;
           },
           close_modal: function(){
             this.hidden = true;
             this.modal_show = false;
           }
         }
       });

    }
   </script>
  </body>
</html>
